# MongoDB Connection (Optional: will fallback to rich sample dataset seamlessly if not provided)
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/medbridge?retryWrites=true&w=majority

# Cloudinary Setup (Optional for Admin image uploads)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=demo
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Admin Access Password (Default: admin)
ADMIN_PASSWORD=admin

# Site URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000
